@font-face {
  font-family: AvenitLTStd;
  src: url(fonts/AvenirLTStd-Book.otf) format('opentype');
}

@font-face {
  font-family: AvenitLTStdBlack;
  src: url(fonts/AvenirLTStd-Black.otf) format('opentype');
}

* {
  font-family: 'AvenitLTStd', 'Courier New', Courier, monospace;
}

body {
  overflow: hidden;
}

#board {
  padding: 0;
  margin: auto;
  width: 80%;
  height: 90vmin;
  background-color: #f5deb3;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
  border: 1.5px solid black;
  box-shadow: 0 5px 15px black;
}

.card-preview {
  position: absolute;
  left: 0;
  top: 20%;
  width: 15vw;
  height: 44vh;
  background-color: #000;
  background-size: 100% 100%;
  border: 2px solid #ae9e85;
  border-radius: 20px;
  transform: translateX(-95%);
  transition: all 0.5s;
  z-index: 1000;
}

.ai-decisions {
  position: absolute;
  right: 0;
  top: 20%;
  width: 15vw;
  height: 44vh;
  background-color: burlywood;
  background-size: 100% 100%;
  border: 2px solid #ae9e85;
  transform: translateX(95%);
  transition: all 0.5s;
  z-index: 1000;
}

#console {
  font-size: 1.5vmin;
}

.hidden {
  transform: translateX(0);
}

.field-zone {
  background: url(images/board/field-pattern.png) repeat center center / cover;
  background-size: 200px;
  height: 20vmin;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row: 1;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  column-gap: 4px;
  border-top: 1px solid #8b7c63;
  border-bottom: 1px solid #8b7c63;
}

.hand-zone {
  height: 20vmin;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hand-zone img {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
}

.hand-zone--card {
  height: 18vmin;
  width: 13vmin;
  margin: 2px;
  box-sizing: border-box;
}

.hand-zone--card_active,
.card-field--highlight {
  outline: 2px solid #fff;
}

.card_info {
  pointer-events: none;
}

.card-field--highlight-heal {
  outline: 3px solid #00ff00;
}

.card-field {
  height: 90%;
  width: 13vmin;
  background-color: aliceblue;
  border: 2px solid #f5deb3;
  box-shadow: 0px 0px 22px 4px #ae9e85 inset;
  border-radius: 10px;
  display: grid;
  place-items: center;
  font-size: 2rem;
}

.card-field img {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
}

article.hand-zone--card {
  border-radius: 10px;
  position: relative;
}

.card-field > article {
  width: 100%;
}

.card_info.card_info--values {
  position: absolute;
  bottom: 3.5%;
  left: 7.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8ecd1;
  width: 80%;
  height: 30%;
  border: 3px solid black;
  border-radius: 2px;
}

.card_info.card_info--values {
  font-size: 2vmin;
}

.card--health_value::before {
  content: '♥ ';
}

.card--attack_value::before {
  content: '🗡';
}

.card-field--available {
  background-color: darkseagreen;
}

.board--player_side,
.board--ai_side {
  background: url(images/board/wood-pattern.png) no-repeat center center / cover;
  box-sizing: border-box;
  padding: 1.2rem;
  display: flex;
}

.board--player_deck,
.board--ai_deck {
  position: relative;
  background: url(images/board/card-back.jpg) no-repeat center center / cover;
  border-radius: 5px;
  height: 18vmin;
  width: 15vh;
  margin: 2px;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  font-size: 5vmin;
  color: darkorange;
  -webkit-text-stroke: 1px #ffa144;
}

.board--player_deck:before,
.board--ai_deck:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  box-shadow: 0 0.0625em 0.1875em 0 rgb(0 0 0 / 10%), 0px 0.3em 10px 0.02em darkorange;
}

.board--ai_deck:before {
  transform: rotate(180deg);
}

.board--player_actions,
.board--ai_actions {
  padding: 5px;
}

#board--player_button {
  padding: 0;
  width: 100px;
  height: 50px;
  font-size: 1.1rem;
  background-color: rgb(167, 130, 83);
  color: #fff;
}

#board--player_button:disabled {
  background-color: gray;
}

.board--player_hp,
.board--ai_hp {
  position: relative;
  display: grid;
  place-items: center;
  margin: auto;
  margin-top: 2rem;
  height: 10vmin;
  width: 10vmin;
  background-color: #ffcccb;
  border-radius: 50%;
  outline: 2px solid black;
}

#player-hp_value,
#ai-hp_value {
  font-size: 3vmin;
  pointer-events: none;
}

/* https://stackoverflow.com/questions/57246887/how-to-animate-a-ripple-effect-of-a-gradient-flowing-across-a-background-image-i */

.ripple {
  --ripple-color: #ff747b;
}

.ripple:before,
.ripple:after {
  content: '\0020';

  width: 0;
  height: 0;

  position: absolute;
  top: 50%;
  left: 50%;

  border-radius: 100%;
  border: 3px solid;
  border-color: var(--ripple-color);
  transition: border-color ease-in-out;

  transform: translate(-50%, -50%);
}

.ripple:before {
  animation: ripple-one 7s infinite;
}
.ripple:after {
  animation: ripple-two 7s infinite;
}

@keyframes ripple-one {
  0% {
    width: 40%;
    height: 40%;
    opacity: 0.75;
  }
  50% {
    width: 50%;
    height: 50%;
    opacity: 0;
  }
  100% {
    width: 40%;
    height: 40%;
    opacity: 0.75;
  }
}

@keyframes ripple-two {
  0% {
    width: 70%;
    height: 70%;
    opacity: 0.75;
  }
  50% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  100% {
    width: 70%;
    height: 70%;
    opacity: 0.75;
  }
}
